* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #f69c7e;
}

.board {
  display: flex;
  justify-content: center;
}

header,
footer {
  /* background-color: #053e50;
   */
  /* background-color: #ec008c; */
  /* background: #0197EE;
   background: -webkit-linear-gradient(left, #0197EE, #01FFE1);
   background: -moz-linear-gradient(left, #0197EE, #01FFE1);
   background: linear-gradient(to right, #0197EE, #01FFE1); */
  background: #053f50;
  background: -webkit-linear-gradient(left, #053f50, #10a693);
  background: -moz-linear-gradient(left, #053f50, #10a693);
  background: linear-gradient(to right, #053f50, #10a693);
  height: 90px;
  justify-content: center;
  align-items: center;
  color: white;
}

header h1 {
  font-size: 36px;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
}

footer span {
  padding: 20px;
}

.flex {
  display: flex;
}

.flex-one {
  flex: 1;
}

.list {
  max-width: fit-content;
  border: 8px solid #10a693;
  margin: 20px;
  border-radius: 10px;
  color: #363636;
}

.list .title {
  margin: 5px 10px;
  padding: 5px;
}

.list .item {
  padding: 5px;
  border-bottom: 2px solid#10A693;
}

.list input,
button {
  color: #f69c7e;
  margin-left: 5px;
}

.list button {
  padding: 2px;
}

.heading {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid #10a693;
}

.heading .title {
  width: 200px;
}

.heading .add {
  font-size: 30px;
  cursor: pointer;
}

.add {
  margin-right: 8px;
}
.error {
  font-size: larger;
  color: white;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orange::-moz-selection {
  background-color: #FF8C00;
}
.orange::selection {
  background-color:#FF8C00;
}